<main role="main" class="container" style="margin-top: 30px">
   <div class="jumbotron">
      <h1>Track Covid-19</h1>
      <p class="lead">One application to warn you of possible contact with an infected patiend and also areas of possible contact</p>
      <a class="btn btn-lg btn-primary" href="#" role="button">Download APP docs &raquo;</a>
   </div>
</main>
<div class="container">
   <div class="row">
      <div class="col-lg-4 col-sm-6">
         <div class="card hovercard">
            <div class="cardheader">
            </div>
            <div class="avatar">
               <%= image_tag "profile", class: "profile-image" %>
            </div>
            <div class="info">
               <div class="title">
                  <a target="_blank" href="#">Jonathan Olap</a>
               </div>
               <div class="desc">Passionate designer</div>
               <div class="desc">Curious developer</div>
               <div class="desc">Tech geek</div>
            </div>
            <div class="bottom">
               <a class="btn btn-primary btn-card btn-twitter btn-sm" href="#">
               <i class="fa fa-twitter"></i>
               </a>
               <a class="btn btn-danger btn-card btn-sm" rel="publisher"
                  href="#">
               <i class="fa fa-google-plus"></i>
               </a>
               <a class="btn btn-primary btn-card  btn-sm" rel="publisher"
                  href="#">
               <i class="fa fa-facebook"></i>
               </a>
               <a class="btn btn-warning btn-card btn-sm" rel="publisher" href="#">
               <i class="fa fa-behance"></i>
               </a>
            </div>
         </div>
      </div>
      <div class="col-lg-4 col-sm-6">
         <div class="card hovercard">
            <div class="cardheader">
            </div>
            <div class="avatar">
               <%= image_tag "profile", class: "profile-image" %>
            </div>
            <div class="info">
               <div class="title">
                  <a target="_blank" href="#">Desmond Okello</a>
               </div>
               <div class="desc">Passionate designer</div>
               <div class="desc">Curious developer</div>
               <div class="desc">Tech geek</div>
            </div>
            <div class="bottom">
               <a class="btn btn-primary btn-card btn-twitter btn-sm" href="#">
               <i class="fa fa-twitter"></i>
               </a>
               <a class="btn btn-danger btn-card btn-sm" rel="publisher"
                  href="#">
               <i class="fa fa-google-plus"></i>
               </a>
               <a class="btn btn-primary btn-card  btn-sm" rel="publisher"
                  href="#">
               <i class="fa fa-facebook"></i>
               </a>
               <a class="btn btn-warning btn-card btn-sm" rel="publisher" href="#">
               <i class="fa fa-behance"></i>
               </a>
            </div>
         </div>
      </div>
      <div class="col-lg-4 col-sm-6">
         <div class="card hovercard">
            <div class="cardheader">
            </div>
            <div class="avatar">
               <%= image_tag "profile", class: "profile-image" %>
            </div>
            <div class="info">
               <div class="title">
                  <a target="_blank" href="#">Joshua Waiswa</a>
               </div>
               <div class="desc">Passionate designer</div>
               <div class="desc">Curious developer</div>
               <div class="desc">Tech geek</div>
            </div>
            <div class="bottom">
               <a class="btn btn-primary btn-card btn-twitter btn-sm" href="#">
               <i class="fa fa-twitter"></i>
               </a>
               <a class="btn btn-danger btn-card btn-sm" rel="publisher"
                  href="#">
               <i class="fa fa-google-plus"></i>
               </a>
               <a class="btn btn-primary btn-card  btn-sm" rel="publisher"
                  href="#">
               <i class="fa fa-facebook"></i>
               </a>
               <a class="btn btn-warning btn-card btn-sm" rel="publisher" href="#">
               <i class="fa fa-behance"></i>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>